.hacheúno {
  text-align: center;
    font-family: Arial, sans-serif;
    text-shadow:
    2px 2px 0 yellow,
   -2px 2px 0 yellow,
    2px -2px 0 yellow,
   -2px -2px 0 yellow;
}

.loguito{
    display: block;
  margin: 0 auto;
}
 .arialadder{font-family:Arial, sans-serif}
.fúter{
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      margin-top: auto;}