* {
    margin: 0;
    padding: 0;
}

img {
    
   margin: 10px auto 10px;
  display: block;
    width: 25em;
       
}
a {
    color: white;
    margin: 1.5em;
}
body{
    background-color: #0b1220;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;  
    display: table;
    width: 100%;
    height: 13vh;
    background-color: #000;
    color:#fff;
    text-align: center;
}

.texto_footer {
    text-align: center;
  
}
h1 {
    text-align: center;
    color: whitesmoke;
}
p {
    margin: 3em;
    color: white;
}
